name: Build Windows package

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_windows:      
    name: ${{ matrix.os }} - Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    env:
      CC: clang-cl
      CXX: clang-cl
      LDFLAGS: "-Wl,-S"
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-latest"]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
    - name: Checkout 
      uses: actions/checkout@v3
      with: 
        submodules: true
    - name: Set up Clang
      uses: egor-tensin/setup-clang@v1
      with:
        version: latest
        platform: x64
    - name: Install OpenBLAS # from: https://github.com/scipy/scipy/blob/main/.github/workflows/windows.yml
      shell: bash
      run: |
        # same OpenBLAS install method as cibuildwheel
        set -xe
        bash tools/wheels/cibw_before_build_win.sh .
        echo "PKG_CONFIG_PATH=c:\opt\64\lib\pkgconfig;" >> $GITHUB_ENV
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest pytest-cov coverage-badge coveralls pytest-benchmark
    - name: Install package
      run: |
        pip install --verbose .
    - name: Test with pytest
      run: |
        python -m pytest tests/ --cov=primate --benchmark-skip
        coverage run --source=./primate -m pytest tests/ --benchmark-skip
        coverage json -o tests/test_results.json
        coverage report -m